.forums.thread {
  width: 35em;
  margin: auto;
  margin-top: 1em; }

.forums.thread .header {
  margin: 0 0 1em 0;
  text-align: center; }

.forums.thread .header h1 {
  font-size: 120%; }

.forums.thread .details {
  border: 1px solid black;
  padding: 0.2em; }

.forums .thread .details h3 {
  margin-bottom: 0.3em; }

.forums.thread .details .admin_note {
  padding: 0 .5em; }

.forums.thread .contents {
  padding: .3em;
  margin-bottom: .5em;
  border-width: 1px;
  border-color: black;
  border-style: solid; }
